body {
  background-color: #fff2f9;
}

.page_header {
  position: sticky;
  top: 0;
  padding-bottom: 10px;
  width: 100%;
  background-color: #fff2f9;
}

.header_text {
  text-align: center;
  font-size: large;
}

.small_screen_header {
  display: none;
}

.txt_style {
  color: #390202;
  font-family: "Work Sans", sans-serif;
}

.button_bar {
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.header_button {
  display: inline-block;
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
}

.intro {
  display: flex;
  flex-direction: row;
}

.intro_photo {
  flex: 1;
  padding-left: 20px;
  padding-right: 10px;
}

.intro_text {
  flex: 2.5;
  padding-left: 10px;
  padding-right: 20px;
}

.my_photo {
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 35px;
  margin-left: auto;
  margin-right: auto;
  flex: 2;
  width: 100%;
  height: auto;
}

@media (max-width: 1000px) {
  .intro_photo {
    flex: 2;
    padding-left: 10px;
    padding-right: 10px;
  }
  .intro_text {
    flex: 3;
    font-size: 120%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .button_bar {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .header_button {
    padding-top: 5px;
  }
}

@media (max-width: 600px) {
  .small_screen_header {
    display: block;
    text-align: center;
    font-size: large;
  }
  .header_text {
    display: none;
  }
  .intro {
    display: inline-block;
  }
  .intro_photo {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .button_bar {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .header_button {
    padding-top: 5px;
  }
  .intro_text {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.tbl {
  color: #390202;
  font-family: "Work Sans", sans-serif;
  display: flex;
}

th {
  text-align: center;
  padding: 12px;
  background-color: #f3a9d0;
  flex-direction: row;
  flex: 1;
}

td {
  text-align: left;
  padding: 12px;
  background-color: #fdc8e4;
  flex-direction: column;
  flex: 1;
}

a {
  color: #1a00c1;
  font-family: "Work Sans", sans-serif;
}
.btn {
  background-color: #fdc8e4;
  font-size: 16px;
  padding: 12px;
  border-radius: 25px;
  border-color: #390202;
  flex: 1;
  cursor: pointer;
  display: inline-block;
  width: 140px;
}

.btn:hover {
  background-color: #f3a9d0;
  transition: 0.7s;
}
